{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  {% load user_filters %}
  {% load static %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">Об авторе</div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">"Бла бла"</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <img src="{% static 'img/author_photo.jpg' %}"
                 alt="фото автора"
                 width="150"
                 align="right"
                 hspace="20">
            <h3>Власов Богдан</h3>
            <p>
              Бла бла бла номер два
            </p>
            <a href="https://github.com/Sprngtm4htlr">Профиль Github</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
