{% extends "base.html" %}
{% block title %}Подписки{% endblock %}
{% block content %}
{% load cache %}
    <div class="container py-5">
    <h2>Подписки</h2>
    {% include 'includes/switcher.html' with follow=True %}
    {% cache 10 follow_index_page %}
        {% for post in page_obj %}
            {% include "includes/post_card.html" with show_author=True show_group=True show_post=True%}
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" %}
    {% endif %}

    {% endcache %}

    </div>

{% endblock %}